#console{
    position: fixed;
    left: 50;
    top: 50;
    background: rgba(43, 43, 43, 0.96);
    width: 450px;
    height: 250px;
    border: 1px solid #636363;
    box-shadow: 4px 4px 7px #424141;
}
#console-head{
    background: #191919;
    color: white;
    padding: 5px;
    cursor: default;
}
#console-head span{}
#console-head input[type="button"] {}
#console-body{}
#console-body input{
    width: 100%;
    background: transparent;
    border: 0;
    color: white;
    padding: 10px;
}
#console-body input:focus{
    outline: none;
}
#console-history{}
#console-minimiz{
    background: #8e8e8e;
    color: #d0cece;
    height: 15px;
    width: 25;
    border: 0;
    float: right;
    font-size: 10px;
}
#console-close{
    background: #484848;
    color: #d0cece;
    height: 15px;
    width: 27px;
    border: 0;
    float: right;
    margin-left: 5px;
}
.hzc-selected{
    /* border: 2px solid #ff0082; */
    background: rgba(233, 30, 99, 0.14);
    cursor: default;
}
.hzc-selected-p{
    border: 2px solid #ff0082;
    background: rgba(233, 30, 99, 0.14);
   
}
#overlay {
    background-color: #ff0082;
    position: absolute;
    width: 250;
    height: 50;
    left: 20;
    top: 50;
    opacity: 0.20;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 99999999;
}
.cph{
    position: absolute;
    background: url(https://b.zmtcdn.com/images/floading.gif);
}
.cph-t{
    height: 5px;
    left: 100;
    top: 200;
    width: 500px;
}
.cph-r{
    height: 500px;
    left: 600;
    top: 200;
    width: 5px;
}
.cph-b{
    height: 5px;
    left: 100;
    top: 700;
    width: 500px;
}
.cph-l{
    height: 500px;
    left: 100;
    top: 200;
    width: 5px;
}